@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
*{
    margin: 0;
    padding: 0;
    outline: none;   
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;

}

body{
    background: #dfe9f5;
    font-family: 'roboto', sans-serif;
}

nav{
    position: absolute;
    top: 0;
    bottom: 0;
    height: 356%;
    left: 0;
    background: #50cc75;
    width: 90px;
    overflow: hidden;
    transition: widt 0.2s linear;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}

.logo{
    text-align: center;
    display: flex;
    transition: all 0.5s ease;
    margin: 10px, 0 0 10px;
}

.logo img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.logo span{
    font-weight: bold ;
    padding-left: 25px;
    font-size: 18px;
    text-transform: uppercase;
}
a{
    position: relative;
    color: rgb(85, 83, 83);
    font-size: 14px;
    display: table;
    width: 300px;
    padding: 10px; 
}
.fa-solid{
    position: relative;
    width: 70px;
    height: 40px;
    top:  14px;
    font-size: 20px;
    text-align: center;
}

.nav-item{
    position: relative;
    top: 15px;
    margin-left: 10px;
}
a:hover{
    background: #eee;
}

nav:hover{
    width: 280px;
    transition: all 0.5s aese;
}

.logout{
    position: absolute;
    bottom: 0;
}



h1{font-size: 3.5em;}
h2{font-size: 2.7em;}
h3{font-size: 2em;}
p{font-size: 1.25em;}
ul{list-style:  none;}
li{font-size: 1.25em;}


button{
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    color: white;
    background-color: blueviolet;
}

.container{
    max-width: 1400px;
    margin: auto;
}

#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    color: white;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url(img/titulo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}



#fauna .container{
    text-align: center;
    padding: 100px 12px;
}

#flora .container{
    
    text-align: center;
    padding: 100px 12px;
}


#animales{
    background-color: black;
    color: white;
    text-align: center;
}

#animales .container{ 
    padding: 100px 0px;
}

#animales p{
    display: none;
}

#animales h2{
    margin-top: 0;
    font-size: 3.2em;
}

#animales .carta{
    background-size: cover;
    background-position: center center;
    padding: 50px;
    margin: 20px;
    border-radius: 15px;
}

.carta:first-child{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url(img/nutria.jpg);
    

}

.carta:nth-child(2){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url(img/oso.webp);

}

.carta:nth-child(3){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url(img/armadillo.webp);
     
}

#footer p{
    margin: 0;
    padding: 12px;
    color: rgb(100, 100, 100);
}

#footer .container{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: black;
}

@media(min-width: 720px){
    
}





#heroo {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    margin-left: 90px;
}

#heroo .container {
    display: flex;
    
    
   
}

#heroo .fa-regular.fa-user {
    font-size: 4em; /* Tamaño del icono */
    position: absolute; /* Establecer posición absoluta */
    left: 200px; /* Distancia del borde izquierdo */
    top: 50px; /* Distancia del borde superior */
    border-radius: 3px;
    color:rgb(85, 83, 83);
    background-color: darkgray;
}

#heroo .fa-regular.fa-envelope{
    font-size: 2em; /* Tamaño del icono */
    position: absolute; /* Establecer posición absoluta */
    left: 300px; /* Distancia del borde izquierdo */
    top: 85px; /* Distancia del borde superior */
}

#heroo .fa-solid.fa-phone{
    font-size: 1.7em; /* Tamaño del icono */
    position: absolute; /* Establecer posición absoluta */
    left: 333px; /* Distancia del borde izquierdo */
    top: 86px; /* Distancia del borde superior */

}
#heroo .fa-brands.fa-whatsapp{
    font-size: 2em; /* Tamaño del icono */
    position: absolute; /* Establecer posición absoluta */
    left: 400px; /* Distancia del borde izquierdo */
    top: 85px; /* Distancia del borde superior */
}


#heroo .h3 {
    font-size: 1.5em; /* Tamaño del texto */
    position: absolute;
    top: 50px; /* Distancia del borde superior */
    left: 300px; /* Distancia del borde izquierdo */
}

#personal {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    margin-left: 90px;  
}

#personal .container {
    display: flex;
    align-items: center; /* Para centrar verticalmente los elementos */
}

#ayuto {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    margin-left: 90px;  
}

#ayuto .container {
    display: flex;
    align-items: center; /* Para centrar verticalmente los elementos */
}

#setting {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    margin-left: 90px;  
}

#setting .container {
    display: flex;
    align-items: center; /* Para centrar verticalmente los elementos */
}


